body {
  font-family: Arial, sans-serif;
  background-color: #252526;
  color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

#isadevgen {
  display: flex;
  justify-content: center;
}

#center {
  width: 100%;
  max-width: 400px;
}

label {
  display: block;
  margin-top: 10px;
  text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  background-color: #2c2c2c;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  color: #f0f0f0;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #3498db;
}

#jsonOutput {
  height: 200px;
  padding: 10px;
  background-color: #2c2c2c;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  color: #f0f0f0;
  font-size: 16px;
  resize: none;
  display: none;
}

#rci {
  height: 100px;
}

#recordContainer {
  margin-bottom: 20px;
}

.recordRow {
  margin-bottom: 10px;
}

.recordRow label {
  margin-right: 10px;
}

.recordRow select,
.recordRow textarea {
  width: 100%;
  padding: 10px;
  background-color: #2c2c2c;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  color: #f0f0f0;
  margin-top: 5px;
  font-size: 16px;
}

button {
  background-color: #3498db;
  color: #f0f0f0;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #2980b9;
}

button svg,
button i {
  margin-right: 5px;
  vertical-align: middle;
}

#copyButton {
  display: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 14px;
  }

  button {
    padding: 8px 15px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  .button-container {
    flex-direction: column;
    gap: 5px;
  }

  button {
    width: 100%;
  }

  #jsonOutput {
    font-size: 14px;
    height: 150px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 12px;
    padding: 8px;
  }
}
